.alert {
    margin-top: 10px;
    width: 75%;
}

.coinDisplay {
    list-style: none;
    display: inline;
    padding: 0px;
}

.coinDisplay li {
    display: inline;
}

#loadingGif {
    height: 100%;
    margin-top: 10%;
    vertical-align: middle;
}

.itemCoreData img {
    width: 64px;
    height: 64px;
}

#recipeImg {
    width: 24px;
}

#searchResultDiv table {
     width: 70%;
}

#searchResultDiv > h3:first-child {
    font-weight: bold;
}

#itemList tr td:hover {
    cursor: pointer;
}

#itemList tr td:nth-child(2) {
    vertical-align:middle;
}

#itemList h4 {
    color:#6699ff;
    font-weight: bold;
}

.itemListImg {
    width: 64px;
}

.itemListImg img {
    width: inherit;
    height: 64px;
}



