<div ng-show="searchError.message" class="alert alert-danger">
    <strong>Error!</strong> {{ searchError.message }}
</div>

<div class="alert alert-info alert-dismissible" role="alert" ng-show="searchError.noCommerce">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Message!</strong> Commerce data is not available for this item.
</div>

<div class="alert alert-success alert-dismissible" role="alert" ng-show="searchError.noRecipe">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Message!</strong> Recipe data is not available for this item.
</div>

<center ng-show="searchingForItem" id="loadingGif">
    <img src="/images/rolling.gif" />
</center>

<div class="itemCoreData">
    <h2><img ng-src="{{item.data.icon}}" /><strong> {{item.data.name}}</strong></h2>
</div>


<div ng-show="item.commerce.buys">
    <h3>Buys</h3>
    <p><strong>Quantity:</strong> {{item.commerce.buys.quantity}}</p>
    <div>
        <span><strong>Price:</strong></span>
        <ul class="coinDisplay">
            <li>{{item.commerce.buys.price[0]}} <img src="/images/goldCoin.png" /></li>
            <li>{{item.commerce.buys.price[1]}} <img src="/images/silverCoin.png" /></li>
            <li>{{item.commerce.buys.price[2]}} <img src="/images/bronzeCoin.png" /></li>
        </ul>
    </div>
</div>

<div ng-show="item.commerce.sells">
    <h3>Sells</h3>
    <p><strong>Quantity:</strong> {{item.commerce.sells.quantity}}</p>
    <div>
        <span><strong>Price:</strong></span>
        <ul class="coinDisplay">
            <li>{{item.commerce.sells.price[0]}} <img src="/images/goldCoin.png" /></li>
            <li>{{item.commerce.sells.price[1]}} <img src="/images/silverCoin.png" /></li>
            <li>{{item.commerce.sells.price[2]}} <img src="/images/bronzeCoin.png" /></li>
        </ul>
    </div>
</div>


<div ng-show="item.recipeData">
    <hr />

    <h3><u><strong>Recipe Data</strong></u></h3>

    <uib-tabset active="active">
        <uib-tab ng-repeat="recipe in item.recipeData" index="$index" heading="{{recipe.disciplines[0]}}">
            <h3><strong>{{recipe.disciplines[0]}}</strong></h3>
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Cost (Single)</th>
                    <th>Cost (Total)</th>
                </thead>
                <tbody>
                    <tr ng-repeat="i in recipe.ingredients">
                        <td>{{i.count}}</td>
                        <td><img id="recipeImg" ng-src="{{i.icon}}" alt="Item Image"> {{i.name}}</td>
                        <td ng-show="!i.commerce.buys">0</td>
                        <td ng-show="i.commerce.buys">
                            <ul class="coinDisplay">
                                <li>{{i.commerce.buys.price[0]}} <img src="/images/goldCoin.png" /></li>
                                <li>{{i.commerce.buys.price[1]}} <img src="/images/silverCoin.png" /></li>
                                <li>{{i.commerce.buys.price[2]}} <img src="/images/bronzeCoin.png" /></li>
                            </ul>
                        </td>
                        <td ng-show="!i.ingredientTotal">0</td>
                        <td ng-show="i.ingredientTotal">
                            <ul class="coinDisplay">
                                <li>{{i.ingredientTotal[0]}} <img src="/images/goldCoin.png" /></li>
                                <li>{{i.ingredientTotal[1]}} <img src="/images/silverCoin.png" /></li>
                                <li>{{i.ingredientTotal[2]}} <img src="/images/bronzeCoin.png" /></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> <strong>Total:</strong></td>
                        <td></td>
                        <td></td>
                        <td>
                            <ul class="coinDisplay">
                                <li>{{recipe.recipeTotal[0]}} <img src="/images/goldCoin.png" /></li>
                                <li>{{recipe.recipeTotal[1]}} <img src="/images/silverCoin.png" /></li>
                                <li>{{recipe.recipeTotal[2]}} <img src="/images/bronzeCoin.png" /></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>
</div>