<!doctype html>
<html ng-app="gw2Calc">

<head>
    <base href="/">
    <title>GW2 Calculator</title>

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

</head>

<body class="ng-cloak">
    <section class="content">
        <section id="body" class="container">
            <div class="page-header">
                <h1>GW2 Calculator</h1>
            </div>
            {% block content %}{% endblock %}
        </section>
    </section>
    <hr />
    <footer class="container">
        <p>GW2 Calculator</p>
    </footer>

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>